@import "tailwindcss";
@plugin "daisyui" {
  themes: all;
}
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


.card-title {
  display: flex;
  align-items: center;
  gap: calc(0.25rem /* 4px */ * 2) /* 0.5rem = 8px */;
  font-size: var(--cardtitle-fs, 1.125rem /* 18px */);
  font-weight: 800;
}

 .card-body {
  display: flex;
  flex: auto;
  flex-direction: column;
  gap: calc(0.25rem /* 4px */ * 2) /* 0.5rem = 8px */;
  padding: var(--card-p, 0.5rem /* 24px */);
  font-size: var(--card-fs, 0.875rem /* 14px */);
  :where(p) {
    flex-grow: 1;
  }
}