@import "tailwindcss";
@plugin "daisyui" {
  themes: all;
}
#root {
  max-width: 100%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.daily-quote-card {
  padding: 1em;
  background: #9fefcb;
  border-width: 2px;
  border-style: dashed;
  border-radius: 10px;
  border-color: black;
}

html {
  background-color: white;
}

html.dark {
  background-color: black;
  color: white;
}

html.dark .daily-quote-card {
  background: #2c7655;
  border-color:white
}

.preferences-card {
  padding: 1em;
  background: #e9d4ff;
  border-width: 2px;
  border-style: dashed;
  border-radius: 10px;
  border-color: black;
}

html.dark .preferences-card {
  background: #643f7b;
  border-color:white
}

.tasks-card {
  padding: 1em;
  background: #ffafb8;
  border-width: 2px;
  border-style: dashed;
  border-radius: 10px;
  border-color: black;
  color:black
}

.tasks-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1em;
  background: #ffafb8;
  border: 2px dashed black;
  border-radius: 10px;
  color: black;
  z-index: 1000;
  width: 90%;
  max-width: 50%;
}


html.dark .tasks-card {
  background: #9d404b;
  border-color:white;
  color:white;
}

.card {
  padding: 1em;
  border-width: 2px;
  border-style: dashed;
  font:black;
}

.read-the-docs {
  color: #888;
}

button {
  border-radius: 10px;
  border: 2px dashed ;
  padding: 0.6em 1.2em;
  font: 18px;
  font-weight: 500;
  font-family: inherit;
  cursor: scroll;
  transition: border-color 0.25s;
  cursor: pointer;
}



.card-title {
  display: flex;
  align-items: center;
  gap: calc(0.25rem /* 4px */ * 2) /* 0.5rem = 8px */;
  font-size: var(--cardtitle-fs, 1.2rem /* 18px */);
  font-weight: 800;
}

 .card-body {
  color:black;
  
  padding: var(--card-p, 0.5rem /* 24px */);
  font-size: var(--card-fs, 1rem /* 14px */);
  :where(p) {
    flex-grow: 1;
  }
}

.reset-button {
  background-color: white;
  color: black;
  border: 2px dashed black;
  padding: 0.5rem 1rem;
  width: 100%;
  border-radius: 8px;
  font-weight: 800;
  cursor: pointer;
}

html.dark .reset-button{
  border: 2px dashed white;
  background-color: black;
  color:white
}


html.dark .card-body{
  color:white;
}

.font-thin {
  --tw-font-weight: var(--font-weight-thin) /* 100 */;
  font-weight:200/* 100 */;
}
@property --tw-font-weight {
  syntax: "*";
  inherits: false;
}

.tasks-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
}

.tasks-title {
  font-weight: 600;
  font-size: 20px;
}

.add-task-button {
  font-size: 24px;
  font-weight: 700;
  background: none;
  border: none;
  cursor: pointer;
  user-select: none;
}

.task-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.task-left {
  display: flex;
  align-items: center;
  gap: 10px;
}

.task-checkbox {
  width: 18px;
  height: 18px;
  cursor: pointer;
}

.task-title {
  font-size: 16px;
}
  
.task-time {
  font-size: 14px;
  font-weight: 500;
}